/* Section - Upgrade Now */
[id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title:hover,
[id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title:focus {
	background-color: #fff !important;
}
[id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title .button {
	font-weight: 400;
	margin-top:  -4px;
	margin-left: 8px;
}
.rtl [id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}